* {
  .link {
    text-decoration: none;
    color: inherit;
  }
}


///--------
@media only screen and (max-width: 2825px){
  

  .orders{
    padding: 0px 700px;
  }

  .messages{
    padding: 0px 700px;
  }
  .slide{
    margin: 100px 680px;
  }
  .slide .container{
    padding: 100px 0px;
    // background-color: yellow;
  }
  
  .explore .container{
    padding: 0px 700px;
    // background-color: yellow;

  }
  .features .container{
    padding: 0px 700px;
  }
  .featured{
    padding: 0px 700px;
  }
  .footer{
    padding: 0px 700px; 
  }
  .navbar{
    padding: 0px 700px;
  }
  .projectCard{
    padding: 0px 700px;
  }
  .slider{
    padding: 0px 700px;
  }
  .trustedBy{
    padding: 0px 700px;
  }

  .gig{
    // padding: 0px 700px;
    padding: 0px 700px;
    // background-color: yellow;
  }

  .myGigs{
    padding: 0px 700px;
    // background-color: #5678e9;
  }
  .add{
    padding: 0px 700px;
    // background-color: yellow;
    // margin: 0px 700px;
  }

  
  .gigs .container .cards{
    padding: 0px 700px;
  }

  .gigs .breadcrumbs{
    padding: 0px 700px;
  }
  .gigs  h1{
    padding: 0px 700px;
  }
  .gigs .para{
    padding: 0px 700px;
    // background-color: yellow;
  }
  .gigs .menu{
    padding: 0px 700px;
  }

}

///--------
@media only screen and (max-width: 2525px){
  
  .orders{
    padding: 0px 500px;
  }

  .messages{
    padding: 0px 500px;
  }
  .slide{
    margin: 100px 480px;
  }
  .slide .container{
    padding: 100px 0px;
    // background-color: yellow;
  }
  
  .explore .container{
    padding: 0px 500px;

  }
  .features .container{
    padding: 0px 500px;
  }
  .featured{
    padding: 0px 500px;
  }
  .footer{
    padding: 0px 500px; 
  }
  .navbar{
    padding: 0px 500px;
  }
  .projectCard{
    padding: 0px 500px;
  }
  .slider{
    padding: 0px 500px;
  }
  .trustedBy{
    padding: 0px 500px;
  }

  .gig{
    padding: 0px 500px;
  }

  .myGigs{
    padding: 0px 500px;
    // background-color: #5678e9;
  }
  .add{
    padding: 0px 500px;
    // background-color: yellow;
    // margin: 0px 700px;
  }
  
  

  .gigs .container .cards{
    padding: 0px 500px;
  }

  .gigs .breadcrumbs{
    padding: 0px 500px;
  }
  .gigs  h1{
    padding: 0px 500px;
  }
  .gigs  .para{
    padding: 0px 500px;
  }
  .gigs .menu{
    padding: 0px 500px;
  }

}

//--------
@media only screen and (max-width: 2139px){
  
  .orders{
    padding: 0px 300px;
  }
  .messages{
    padding: 0px 300px;
  }
  .slide{
    margin: 100px 250px;
  }
  .slide .container{
    padding: 100px 0px;
    // background-color: yellow;
  }
  .explore .container{
    padding: 0px 300px;

  }
  .features .container{
    padding: 0px 300px;
  }
  .featured{
    padding: 0px 300px;
  }
  .footer{
    padding: 0px 300px; 
  }
  .navbar{
    padding: 0px 300px;
  }
  .projectCard{
    padding: 0px 300px;
  }
  .slider{
    padding: 0px 300px;
  }
  .trustedBy{
    padding: 0px 300px;
  }

  .gig{
    padding: 0px 300px;
  }

  .myGigs{
    padding: 0px 300px;
    // background-color: #5678e9;
  }
  .add{
    padding: 0px 300px;
    // background-color: yellow;
    // margin: 0px 700px;
  }
  
  .gigs .container{
    padding: 0px 300px;
  }

  .gigs .container .cards{
    padding: 0px 300px;
  }

  .gigs .breadcrumbs{
    padding: 0px 300px;
  }
  .gigs  h1{
    padding: 0px 300px;
  }
  .gigs  .para{
    padding: 0px 300px;
  }
  .gigs .menu{
    padding: 0px 300px;
  }

}

//-------
@media only screen and (max-width: 1909px){
  
  .orders{
    padding: 0px 50px;
  }

  .messages{
    padding: 0px 50px;
  }

  .slide{
    margin: 100px 40px;
  }
  .slide .container{
    padding: 100px 0px;
    // background-color: yellow;
  }

  .gig .container{
    padding: 0px 50px;
    // background-color: yellow;
  }
  
  .explore .container{
    padding: 0px 50px;

  }
  .features .container{
    padding: 0px 50px;
  }
  .featured{
    padding: 0px 50px;
  }
  .footer{
    padding: 0px 50px; 
  }
  .navbar{
    padding: 0px 50px;
  }
  .projectCard{
    padding: 0px 50px;
  }
  .slider{
    padding: 0px 50px;
  }
  .trustedBy{
    padding: 0px 50px;
  }

  .gig{
    padding: 0px 50px;
  }

  .myGigs{
    padding: 0px 50px;
    // background-color: #5678e9;
  }
  .add{
    padding: 0px 50px;
    // background-color: yellow;
    // margin: 0px 700px;
  }

  .gigs .container{
    padding: 0px 50px;
  }

  .gigs .container .cards{
    padding: 0px 50px;
  }

  .gigs .breadcrumbs{
    padding: 0px 50px;
  }
  .gigs  h1{
    padding: 0px 50px;
  }
  .gigs  .para{
    padding: 0px 50px;
  }
  .gigs .menu{
    padding: 0px 50px;
  }

}

@media only screen and (max-width: 1024px){


  .slide{
    margin: 100px 0px;
  }
  .slide .container{
    padding: 100px 0px;
    // background-color: yellow;
  }

  .featured{
    // background-color: #5678e9;

  }

  .features .container{
    flex-direction: column;
  }
  .featured .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .featured .container .right{
    display: none;
    width: 0%;
    // background-color: #5678e9;
  }

}


@media only screen and (max-width: 752px){
  .gigs .menu{
    flex-direction: column;
  }
}

@media only screen and (max-width: 744px){
  .footer .container .bottom{
    display: flex;
    flex-direction: column;
  }
  .container .links{
    // background-color: yellow;
    gap: 10px;
  }
}

@media only screen and (max-width: 664px){
  .featured .container .left h1{
    font-size: 30px;
  }
}

///-------
@media only screen and (max-width: 631px){
  .explore .container{
    padding: 0px 10px;

  }

  .messages{
    padding: 0px 10px;
  }

  .orders{
    padding: 0px 10px;
  }
  .gig .container{
    padding: 0px 10px;
  }
  .features .container{
    padding: 0px 10px;
  }
  .featured{
    padding: 0px 10px;
  }
  .footer{
    padding: 0px 10px; 
  }
  .navbar{
    padding: 0px 10px;
  }
  .projectCard{
    padding: 0px 10px;
  }
  .slider{
    padding: 0px 10px;
  }
  .trustedBy{
    padding: 0px 10px;
  }

  .gig{
    padding: 0px 10px;
  }

  .myGigs{
    padding: 0px 10px;
  }
  .add{
    padding: 0px 10px;
    // background-color: yellow;
    // margin: 0px 700px;
  }
  
  .gigs .container{
    padding: 0px 10px;
  }

  .gigs .container .cards{
    padding: 0px 10px;
  }

  .gigs .breadcrumbs{
    padding: 0px 10px;
  }
  .gigs  h1{
    padding: 0px 10px;
  }
  .gigs  .para{
    padding: 0px 10px;
  }
  .gigs .menu{
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 632px){

  .container .logo .link .text{
    font-size: 30px;

  }

  .container .links>span {
    display: none;
  }

  .featured .container{
    overflow-x: scroll;
  }

  .featured .container .left{
    width: 100%;
  }

  .featured .container .left h1{

    // background-color: yellow;
    font-size: 10px;
    // background-color: yellow;
  }

  .featured .container .left .search{
    // background-color: yellow;
  }

  .features .container{
    // background-color: aqua;
    overflow: hidden;
  }

  .features .container .item{
    gap: 2px;  
    overflow: hidden;
  }

  .footer{
    overflow-x: scroll;
  }
  .footer .container .top .item{
    font-size: 10px;
  }

  .footer .container .bottom .right .social{
    gap: 1px;
    // background-color: yellow;
    }

    .footer .container .bottom .right .link{
      display: none;
      // background-color: #5678e9;
    }

    .trustedBy .container{
      overflow: hidden;
    }

  .trustedBy .container img{
    height: 30px;
  }

}